body {
    background-color: #79d2fc;
    font-family: "Anaheim", sans-serif;
    color: #444445;
    -webkit-font-smoothing: antialiased;
}
p {
    text-align: center;
    font-size: 30px;
}
h4 {
    text-align: right;
    color: #d90404
}